In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('./MI.csv')
df

,1,77,1.1,2,1.2,1.3,2.1,?,3,0,...,0.81,0.82,0.83,0.84,0.85,0.86,0.87,0.88,0.89,0.90
0,2,55,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,52,1,0,0,0,2,?,2,0,...,0,0,0,0,0,0,0,0,0,0
2,4,68,0,0,0,0,2,?,2,0,...,0,0,0,0,0,0,1,0,0,0
3,5,60,1,0,0,0,2,?,3,0,...,0,0,0,0,0,0,0,0,0,0
4,6,64,1,0,1,2,1,?,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1694,1696,77,0,0,4,2,1,?,2,0,...,0,0,1,0,1,0,0,0,0,3
1695,1697,70,0,0,6,2,1,?,2,0,...,0,0,0,0,0,0,0,0,0,1
1696,1698,55,1,3,6,2,2,?,0,0,...,0,0,0,0,0,0,0,1,0,6
1697,1699,79,0,2,2,2,1,?,2,0,...,0,0,0,1,0,0,0,0,0,1
1698,1700,63,1,2,?,?,?,?,2,0,...,0,0,0,0,0,0,0,0,0,1

In [17]:
def changecol3(x):
    if x == 0:
        return 'female'
    elif x == 1:
        return 'male'

def changecol4(x):
    if x == 0:
        return 'zero'

In [18]:
df['1.1'] = df['1.1'].apply(changecol3)

In [19]:
df

,1,77,1.1,2,1.2,1.3,2.1,?,3,0,...,0.81,0.82,0.83,0.84,0.85,0.86,0.87,0.88,0.89,0.90
0,2,55,male,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,52,male,0,0,0,2,?,2,0,...,0,0,0,0,0,0,0,0,0,0
2,4,68,female,0,0,0,2,?,2,0,...,0,0,0,0,0,0,1,0,0,0
3,5,60,male,0,0,0,2,?,3,0,...,0,0,0,0,0,0,0,0,0,0
4,6,64,male,0,1,2,1,?,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1694,1696,77,female,0,4,2,1,?,2,0,...,0,0,1,0,1,0,0,0,0,3
1695,1697,70,female,0,6,2,1,?,2,0,...,0,0,0,0,0,0,0,0,0,1
1696,1698,55,male,3,6,2,2,?,0,0,...,0,0,0,0,0,0,0,1,0,6
1697,1699,79,female,2,2,2,1,?,2,0,...,0,0,0,1,0,0,0,0,0,1
1698,1700,63,male,2,?,?,?,?,2,0,...,0,0,0,0,0,0,0,0,0,1

In [37]:
for i in range(10, 80):
    print(df[f"0.{i}"].unique())

['0' '1' '?']
['0' '1' '?']
['0' '1' '?']
['0' '1' '?']
['0' '1' '?']
['0' '1' '?']
['0' '1' '?']
['0' '1' '?']
['0' '1' '?']
['0' '1' '?']
['0' '1' '?']
['0' '1' '?']
['0' '1' '?']
['0' '1' '?']
['0' '1' '?']
['0' '?' '1']
['0' '1' '?']
['0' '1' '?']
['0' '?' '1']
['0' '1' '?']
['1' '0' '2' '3' '?' '4']
['0' '1' '3' '2' '4' '?']
['0' '2' '1' '3' '?' '4']
['0' '1' '?']
['1' '0' '?']
['0' '1' '?']
['0' '?' '1']
['0' '?' '1']
['0' '1' '?']
['0' '1' '?']
['0' '?' '1']
['0' '1' '?']
['1' '0' '?']
['0' '1' '?']
['0' '?' '1']
['0' '?' '1']
['0' '?' '1']
['0' '?' '1']
['0' '?' '1']
['0' '?' '1']
['0' '?' '1']
['0' '?' '1']
['0' '1' '?']
['0' '?' '1']
['0' '1' '?']
['0' '1' '?']
['0' '1' '?']
['0' '?' '1']
['0' '1' '?']
['0' '?' '1']
['0' '1' '?']
['0' '1' '?']
['0' '?' '1']
['0' '?' '1']
['1' '0' '?']
['0' '?' '1']
['0' '3' '2' '1' '?']
['0' '1' '2' '?' '3']
['0' '1' '?']
['0' '1' '2' '3' '4' '?']
['0' '1' '2' '?' '3']
['0' '2' '1' '?']
['1' '3' '0' '2' '4' '?']
['0' '2' '1' '3' '?']
['0' '2' '1' '?']
['0' '1' '?']
['1' '0' '?']
['0' '?' '1']
['1' '0' '?']
[0 1]